{# 
 * This file is part of the WP Theme and Portfolio of derek shirk
 * <https://derekshirk.com>
 * (c) derek shirk
 * [license] Don't be a jerk. Otherwise, learn, share, profit and so on. 

/* ---------------------------------------------------------- */
/*  Portfolio / Projects Page View
/* ---------------------------------------------------------- */ #}

{% extends "base.twig" %}

{% block content %}
	
	<div class="commands-ui">
		{% for post in posts %}
			{% include ['tz-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
	</div>

	<section class="site-info">
		<div class="wrapper">
			<div class="text--column">
				<h3>{{ posts|length }} fun things to ask Alexa.</h3>

				<p>I have collected an archive of {{ posts|length }} (and counting) fun things to ask Alexa. This site contains <a href="http://amzn.to/2ovDAsn">Amazon Echo</a> Easter Eggs, commands and fun questions to ask Alexa, your Amazon Echo or <a href="http://amzn.to/2ovKkXa">Echo Dot</a>. Swipe through each command and vote with a thumbs-up or thumbs-down.</p>

				<p>I wanted to create a fun side project that presented fun things to ask Alexa, that was visually pleasing and easy to swipe through and fun to use. Hope you enjoy it and please share it with other Amazon Echo users.</p>

				<p>I hope to continually add commands as I find them but you are welcome to submit your favorites if you don’t see them listed here. Simply visit the <a href=“/submit>submit</a> page. Interested in receiving a once-monthly email with fun new things to ask Alexa? Subscribe to the Fun Things to Ask Alexa newsletter.</p>
			</div>

			<div class="sidebar">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-3326704200950264"
					data-ad-slot="2139156034"
					data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			
		</div>
	</section>
	
{% endblock %}