
.site-info {
	position: relative ;
	display: block ;
	background-color: $light-blue ;
	color: #fff ;
	height: auto ;
	
	

	@include grid-media($grid-large) {
		// @include grid-visual(skyblue, $grid-large);
		// min-height: 50vh ;

	}

	.wrapper {
		@include grid-container;
		height: 100% ;
		// margin: 0 auto ;
		padding: 64px 30px ;
		
		// display: flex ;
		// align-items: flex-start ;
		// justify-content: space-between ;
		// width: 100% ;
		// width: 870px ;
		@include grid-media($grid-medium) {
			// @include grid-visual;
		}

		h3 {
			font-size: 40px ;
			line-height: 48px ;
			font-family: $noto-serif ;
			margin-bottom: 12px ;
			font-weight: 700 ;

			@include grid-media($grid-medium) {
				font-size: 32px ;
				line-height: 34px ;
			}
		}

		p {
			font-size: 16px ;
			line-height: 22px ;
			font-weight: 300 ;
			font-family: $lato ;
			padding: 4px 0 16px 0 ;

			a {
				color: #fff ;
				font-weight: 400 ;
				text-decoration: underline ;
			}
		}

		.text--column {
			width: 100% ;

			@include grid-media($grid-medium) {
				@include grid-column(8 of 8) ;	
			}

			@include grid-media($grid-large) {
				@include grid-column(6 of 12) ;	
				@include grid-push(1) ;
			}
		}

		.sidebar {
			// background-color: orange ;
			margin-top: 32px ;
			height: 300px ;
			overflow: hidden ;
			
			// @include grid-shift(2) ;
			// @include grid-shift(.65) ;
			@include grid-media($grid-medium) {
				@include grid-column(8 of 8) ;
				
				// background: orange ;
			}
			@include grid-media($grid-large) {
				@include grid-column(4 of 12) ;
				margin-top: 0 ;
			}
			
		}
	}
}