.submit {

	.content-wrapper {
		@include grid-container;
		display: flex ;
		align-items: flex-start ;
		justify-content: center ;

		.submit-content {
			width: 100% ;
			@include grid-column(12) ;
			margin-right: 30px ;
			padding-top: 32px ;


			@include grid-media($grid-medium) {
				width: 500px ;
				padding-top: 64px ;	
			}

			.nf-form-wrap {
				color: #fff ;
				font-family: $lato ;
				letter-spacing: 0.25px ;
				font-weight: 300 ;

				.nf-form-fields-required {
					display: none ;
				}

				.nf-error .ninja-forms-field {
					border: 2px solid lighten($light-blue, 16%) ;
				}

				.ninja-forms-req-symbol, 
				.nf-error-msg {
					color: lighten($light-blue, 16%) ;
				}

				input[type="submit"],
				input[type="button"],
				input[type="checklist"] {
					/* Remove First */
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}
				
				input, textarea {
					background-color: $light-blue ;
					outline: none ;
					border: 2px solid rgba($light-blue, 0.25) ;
					border-radius: 1px ;
					color: #fff ;
					font-size: 18px ;
					padding: 16px ;
					box-shadow: none ;
					 text-shadow: 0px 0px 0px #fff;
					-webkit-text-fill-color: transparent;
				}

				input::-webkit-input-placeholder,
				textarea::-webkit-input-placeholder {
					color: #fff ;
					text-shadow: 0px 0px 0px #fff;
					-webkit-text-fill-color: #fff ;
				}

				.twitter-username {
					position: relative ;
					input {
						padding-left: 32px ;
					}
					&:before {
						display: block ;
						position: absolute ;
						// width: 100% ;
						height: 100% ;
						top: 45px ;
						left: 16px ;
						content: '@' ;
						font-size: 18px ;
						color: #fff ;
						z-index: 100 ;
						font-weight: 500 ;
					}
				}



				.checkbox-wrap {
					flex-wrap: nowrap ;
					.nf-field-label {
						padding-left: 30px ;
					}
				}
				.subscribe-opt-in {
					padding: 16px 0 ;
					font-size: 14px ;
					input {
						position: relative ;
						top: 2px ;
					}
					label {
						font-weight: 300 ;
						line-height: 20px ;
					}
				}
			}
		}
	}
}