.submission-success {
	color: #fff ;
	height: 100% ;
	// background: cyan ;

	.footer-container {
		.share-this {
			display: none ;
		}
	}

	.content-wrapper {
		height: 100% ;
	}

	.post-type-page {
		height: 100% ;
	}

	.article-content {
		display: flex ;
		justify-content: center ;
		@include grid-container ;
		height: 100% ;
		// background: yellow ;

		@include grid-media($grid-medium) {
			align-items: center ;
		}
		
		.article-body {
			width: 100% ;
			@include grid-column(12) ;
			margin-right: 30px ;
			padding-top: 32px ;

			@include grid-media($grid-medium) {
				width: 500px ;
				padding-top: 64px ;	
			}
			
			@include grid-media($grid-large) {
				
			}
			

			p {
				font-family: $lato ;
				font-size: 16px ;
				line-height: 24px ;
				margin-bottom: 16px ;
			}

			.button {
				display: inline-block ;
				color: #fff ;
				text-decoration: none ;
				font-family: $lato ;
				border: 2px solid #fff ;
				border-radius: 36px ;
				margin-top: 16px ;
				padding: 8px 24px ;
			}
		}

		.share-this {
			margin-top: 64px ;

			h3 {
				font-size: 24px ;
				margin-bottom: 16px ;
			}
		}
	}


}