button {
	background-color: transparent ;
	border: 0 ;
	box-shadow: none ;
	outline: none ;
	// &:focus {
	// 	outline: none ;
	// }
	&:hover {
		cursor: pointer ;
	}
}

%button {
	background-color: transparent ;
	transition: background ease .5s ;
	display: inline-block ;
	border: 2px solid #fff ;
	border-radius: 36px ;
	padding: 11px 24px ;
	color: #fff ;
	text-decoration: none ;
	text-transform: uppercase ;
	font-weight: 600 ;
	font-size: 12px ;
	letter-spacing: 0.32px ;

	&:hover {
		background-color: lighten($light-blue, 8%) ;
		transition: background ease .5s ;
	}
}

.button {
	@extend %button ;
}
