.nav-main {
	ul {
		display: flex ;
		.menu-item {
			padding: 0 12px ;
			a {
				color: #fff ;
				text-decoration: none ;
				// font-family: $noto-serif ;
				// font-weight: 700 ;
				font-family: $lato ;
			}
		}
		.submit {
			display: none ;
			@extend %button ;
			&:hover {
				cursor: pointer ;
			}

			@include grid-media($grid-medium) {
				display: inline-block ;
			}
		}
	}
}